div.cell {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #bae768;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 2px;
}

div.cell span{
    margin: 0;
    padding: 0;
    color: white;
}

div.cell img {
    width: 100%;
    height: 100%;

}

div.cell.revealed-true {
    line-height: 50px;
    background: #6f9a20;
    
}

div.cell.revealed-false {
    line-height: 0;
}

/* div.cell.revealed-true span {
    display: block;
}

div.cell.revealed-false span {
    display: none;
}
 */
